.body{
    width: 100%;
    display: flex;
    padding: 0 20px;
    padding: 5px 0px;
    padding-left: 10px;
    border-bottom: 1px solid lightgrey;
}
.body img{
    height: 100%;
    width: auto;
    margin: auto 0;
    margin-right: 20px;
}
.body h1{
    font-size:18px;
    margin-top: 20px;
}
.body p{
    margin:9.8px 0;
}
.button{
    /* display: flex;
    justify-content: flex-end; */
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
}
