.course-body{
    width: 100%;
    display: flex;
    padding: 0 20px;
    padding: 5px 0px;
    padding-left: 10px;
    border-bottom: 1px solid lightgrey;
}
.course-body img{
    height: 100%;
    width: auto;
    margin: auto 0;
    margin-right: 20px;
}
.course-body h1{
    font-size:18px;
    margin-top: 20px;
}
.course-body p{
    margin:9.8px 0;
}
.button{
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
}




@media (max-width: 991px){
    .course-body{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }
    .course-body img{
        width: 100%;
        height: auto;
        margin: auto 0;
        margin-right: 20px;
    }
    .button{
        width:auto;
        margin-top: auto;
    }
    .course-info{
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
    }
}