.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* shop css */
.shop{
  display: flex;
}
.courses{
  width: 64%;
  margin: 100px 2%;

}

/* floating css */
.app-body{
  position: relative;
  
}
.header{
  position: fixed;
  height: 15vh;
  box-shadow: 0px 0px 5px gray;
}
.cart{
  position: fixed;
  height: 85vh;
  width: 30%;
  padding: 0 10px;
  top: 110px;
  right: 0;

  border-left: 1px solid lightblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* responsive area */
@media (max-width: 991px){
  .courses{
    width: 100%;
    margin: 100px 2%;
    margin-top: 120px;
  }
  .cart{


    position: fixed;
    height: 510px;
    width: 0%;
    padding: 0 10px;
    top: 110px;
    right: 0;
    
    border-left: 0px solid lightblue;
  }
}
